/AIApp/AlfredoAIAPI.pem
alfredo-aichef/.idea/alfredo-aichef.iml
alfredo-aichef/.idea/modules.xml
alfredo-aichef/.idea/vcs.xml
alfredo-aichef/.idea/inspectionProfiles/Project_Default.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
/node_modules
./node_modules
