:root {
  --primary-color: #50e3c2;
  --secondary-color: #008fff;
  --background-color: #fdfdfd;
  --text-color: #020202;
  --text-on-primary: var(--text-color);

  --font-family-primary: var(--font-inter), sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;
}

body {
  background-color: var(--background-color, #ffffff);
  color: var(--text-color);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #73ffe0; /* dark mode primary */
    --secondary-color: #45adff; /* dark mode secondary */
    --background-color: #020202;
    --text-color: #e0e0e0;
    --text-on-primary: var(--background-color);
  }
}
